*.bmp filter=lfs diff=lfs merge=lfs -text
im2.bmp filter=lfs diff=lfs merge=lfs -text
im4.bmp filter=lfs diff=lfs merge=lfs -text
main2.cpp filter=lfs diff=lfs merge=lfs -text
modules.h filter=lfs diff=lfs merge=lfs -text
spotlight.cpp filter=lfs diff=lfs merge=lfs -text
3D-Room filter=lfs diff=lfs merge=lfs -text
BACKUP_FOLDER filter=lfs diff=lfs merge=lfs -text
BACKUP_FOLDER_2 filter=lfs diff=lfs merge=lfs -text
a filter=lfs diff=lfs merge=lfs -text
images.zip filter=lfs diff=lfs merge=lfs -text
work.cpp filter=lfs diff=lfs merge=lfs -text
im1.bmp filter=lfs diff=lfs merge=lfs -text
im3.bmp filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
texture_in_ubuntu.zip filter=lfs diff=lfs merge=lfs -text
main.cpp filter=lfs diff=lfs merge=lfs -text
texture.cpp filter=lfs diff=lfs merge=lfs -text
texture_in_ubuntu filter=lfs diff=lfs merge=lfs -text
